<!DOCTYPE html>

<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Contraseña valida</title>
		<link
			href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
			rel="stylesheet"
			id="bootstrap-css"
		/>
		<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<link rel="stylesheet" href="{{ url_for('static',filename='main.css')}}" />
	</head>

	<body>
		<div id="login">
			<div class="container">
				<div id="login-row" class="row justify-content-center align-items-center">
					<div id="login-column" class="col-md-6">
						<div id="login-box" class="col-md-12">
							<form id="login-form" class="form" action="/">
								<h3 id="mensaje_correcto" class="text-center">
									La contraseña ingresada es valida
								</h3>

								<br />

								<button
									class="regresar btn btn-lg btn-primary btn-block text-white"
									type="submit"
								>
									Regresar
								</button>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
